<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Pop The Champagne</h1>
                <p>
                    You are in <strong>{{Name}}</strong>.
                    Some say it's the <em>finest</em> district in the city.
                </p>
                <hr/>
                <h4>Meet Your District Leader</h4>
                <div class="media">
                    <div class="media-left representative-img">
                        <img class="media-object" src="{{representative_avatar}}">
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            {{representative}}
                        </h5>
                        <hr/>
                        <a href="{{district_url}}" class="btn btn-primary">
                            Visit District {{district_id}} Homepage
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>